.card {
    width: 350px;
    background-color: var(--orange);
    box-shadow: 0 0 4px 1px #55535A;
    display: flex;
    flex-direction: column;
    height: 100%;   
}

.card-title {
    font-family: var(--font-title);
}

.card-img {
    width: inherit;
    position: relative;
    top: 0%;
    right: .2%;
    opacity: 80%;
}

.card-img-overlay {
    margin-top: 73px;
    width: 350px;
    height: 150px;
}

.personal-button {
    background-color: var(--yellow);
    font-family: var(--font-text);
}

.personal-button:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 2px 4px var(--yellow);
    scale: 1.1;
}

.personal-button:hover {
    background-color: var(--yellow);
}

.card-body {
    font-family: var(--font-text);
    flex-grow: 1;
}

.scroll-reveal-from-left {
    transform: translateX(100%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-reveal-from-left.show {
    opacity: 1;
    transform: translateX(0);
}

